[Unit]
Description=Runtime Initialization Service
After=network.target network-setup.service
Requires=network-setup.service

[Service]
Type=oneshot
ExecStart=/usr/bin/tdx-init setup /etc/tdx-init/config.yaml
ExecStartPost=/usr/bin/runtime-init
RemainAfterExit=yes

[Install]
WantedBy=minimal.target