# Set this to 1 to enable debug tweaks, including direct root access in the
# resulting image
DEBUG_TWEAKS_ENABLED=1

# The path in which the persistent disk image will be created.
PERSISTENT_DISK=persistent.qcow2

# Forwarded ports for local deployment
# (If these are already in use by other services, change these values)
RPC_PORT=8545
SSH_PORT=2222
CVM_REVERSE_PROXY_PORT=8745
