{
    "ATTESTATION_PROVIDER_URL": null,

    "NETHERMIND_METRICSCONFIG_ENABLED": "true",
    "NETHERMIND_METRICSCONFIG_INTERVALSECONDS": "5",
    "NETHERMIND_METRICSCONFIG_NODENAME": "tdx",
    "NETHERMIND_METRICSCONFIG_PUSHGATEWAYURL": ""
}