[
  {
    "name": "surge_dev_l1",
    "chain_id": 3151908,
    "max_spec_id": "CANCUN",
    "hard_forks": {
      "FRONTIER": {
        "Block": 0
      },
      "SHANGHAI": {
        "Timestamp": 0
      },
      "CANCUN": {
        "Timestamp": 0
      }
    },
    "eip_1559_constants": {
      "base_fee_change_denominator": "0x8",
      "base_fee_max_increase_denominator": "0x8",
      "base_fee_max_decrease_denominator": "0x8",
      "elasticity_multiplier": "0x2"
    },
    "l1_contract": null,
    "l2_contract": null,
    "rpc": "{{raiko.l1_rpc}}",
    "beacon_rpc": "{{raiko.l1_beacon_rpc}}",
    "verifier_address_forks": {
      "FRONTIER": {
        "SGX": null,
        "SP1": null,
        "RISC0": null,
        "TDX": null,
        "AZURE_TDX": null
      }
    },
    "genesis_time": 1759263599,
    "seconds_per_slot": 12,
    "is_taiko": false
  },
  {
    "name": "surge_dev",
    "chain_id": 763374,
    "max_spec_id": "PACAYA",
    "hard_forks": {
      "HEKLA": {
        "Block": 0
      },
      "ONTAKE": {
        "Block": 1
      },
      "PACAYA": {
        "Block": 1
      },
      "CANCUN": "TBD"
    },
    "eip_1559_constants": {
      "base_fee_change_denominator": "0x8",
      "base_fee_max_increase_denominator": "0x8",
      "base_fee_max_decrease_denominator": "0x8",
      "elasticity_multiplier": "0x2"
    },
    "l1_contract": "{{surge_tdx_prover.l1_contract}}",
    "l2_contract": "{{surge_tdx_prover.l2_contract}}",
    "rpc": "http://localhost:8547",
    "beacon_rpc": null,
    "verifier_address_forks": {
      "HEKLA": {
        "SGX": "0x35F135f2b53c4a934030BBCFAd01dadE7C82E576",
        "SP1": "0xBb4d683Ae82b814ca7d580AF5922306bF63E7A88",
        "RISC0": "0x5E257fA2Ce9a2eE1831197dd53bD523876d3DA38",
        "TDX": "0x6f28249B504De7AfCf77B883cc1Ed7F8d9c92bfE",
        "AZURE_TDX": "0x6f28249B504De7AfCf77B883cc1Ed7F8d9c92bfE"
      },
      "ONTAKE": {
        "SGX": "0x35F135f2b53c4a934030BBCFAd01dadE7C82E576",
        "SP1": "0xBb4d683Ae82b814ca7d580AF5922306bF63E7A88",
        "RISC0": "0x5E257fA2Ce9a2eE1831197dd53bD523876d3DA38",
        "TDX": "0x6f28249B504De7AfCf77B883cc1Ed7F8d9c92bfE",
        "AZURE_TDX": "0x6f28249B504De7AfCf77B883cc1Ed7F8d9c92bfE"
      },
      "PACAYA": {
        "SGX": "0x35F135f2b53c4a934030BBCFAd01dadE7C82E576",
        "SP1": "0xBb4d683Ae82b814ca7d580AF5922306bF63E7A88",
        "RISC0": "0x5E257fA2Ce9a2eE1831197dd53bD523876d3DA38",
        "TDX": "0x6f28249B504De7AfCf77B883cc1Ed7F8d9c92bfE",
        "AZURE_TDX": "0x6f28249B504De7AfCf77B883cc1Ed7F8d9c92bfE"
      }
    },
    "genesis_time": 0,
    "seconds_per_slot": 1,
    "is_taiko": true
  }
]
