[Unit]
Description=Raiko Client
Documentation=https://docs.surge.wtf/
After=runtime-init.service tdxs.service
Requires=runtime-init.service tdxs.service

[Service]
User=raiko
Group=tdx
EnvironmentFile=/etc/nethermind-surge/.env.devnet
WorkingDirectory=/home/raiko
ExecStart=/usr/bin/raiko \
    --config-path=/etc/nethermind-surge/raiko_config.json \
    --chain-spec-path=/etc/nethermind-surge/raiko_chain_spec_list.json \
    --concurrency-limit=1
Restart=on-failure

[Install]
WantedBy=default.target
