[Unit]
Description=Taiko Client
Documentation=https://docs.surge.wtf/
After=runtime-init.service
Requires=runtime-init.service

[Service]
User=taiko-client
Group=eth
EnvironmentFile=/etc/nethermind-surge/.env.hoodi
WorkingDirectory=/home/taiko-client
ExecStart=/usr/bin/taiko-client driver \
    --verbosity 4 \
    --l1.ws ${L1_ENDPOINT_WS} \
    --l2.ws ws://localhost:"${L2_WS_PORT}" \
    --l1.beacon ${L1_BEACON_HTTP} \
    --l2.auth http://localhost:${L2_ENGINE_API_PORT} \
    --taikoInbox ${TAIKO_INBOX} \
    --taikoAnchor ${TAIKO_ANCHOR} \
    --jwtSecret /tmp/surge_jwt.hex \
    --p2p.disable \
    --metrics true \
    --metrics.port 6060
Restart=on-failure

[Install]
WantedBy=default.target
