[Unit]
Description=TDXS
After=runtime-init.service
Requires=runtime-init.service tdxs.socket

[Service]
User=tdxs
Group=tdx
WorkingDirectory=/home/tdxs
Type=notify
ExecStart=/usr/bin/tdxs \
    --config /etc/tdxs/config.yaml
Restart=on-failure

[Install]
WantedBy=default.target
